<div class="container">

  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTaskModal" style="width:35%"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add Task</button>
  </div>

  <div class="row row-cols-1 row-cols-md-3" id="taskCards">

  </div>
</div>

<div class="modal" id="addTaskModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      {{!-- <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> --}}
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="task-description" class="col-form-label">Task Description:</label>
            <textarea class="form-control" id="task-description"></textarea>
          </div>
          <div class="form-group">
            <label for="task-category" class="col-form-label">Category:</label><br />
            <select type="text" id="category" class="form-control">
              <option>Personal</option>
              <option>Work</option>
              <option>Shopping</option>
              <option>Others</option>
            </select>
          </div>
          <div class="form-group">
            <label for="task-due" class="col-form-label">Due Date:</label><br />
            <input type="date" id="dueDate" class="form-control">
          </div>
          <div class="form-group">
            <label for="task-status" class="col-form-label">Status:</label><br />
            <select type="text" id="status" class="form-control">
              <option>New</option>
              <option>In Progress</option>
              <option>Completed</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/task/plugins/toast/toastr.min.js"></script>
<script>
  
  $( document ).ready( taskDetails );

  function taskDetails() {
      $.post('/task/allTask', { 

        },
         function(resp) {
          var data = JSON.parse(resp).data 
          var taskList = ''
          for(i = 0; i < data.length; i++) {
            taskList = taskList + 
            `<div class="col mb-4">
              <div class="card shadow-sm">
                <div class="card-header">
                  <h1></h1>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Task Description</h5>
                  <p class="card-text">${data[i].task}</p>
                </div>
              </div>
            </div>`
          }
          if(JSON.parse(resp).status == "success") {
            $('#taskCards').html(taskList)
            toastr.success(JSON.parse(resp).info)           
          } else {
            $('#taskCards').html(taskList)
            toastr.error(JSON.parse(resp).info)
          }
      });
    
  }

</script>
