{{!-- <nav id="sidebar">
    <div class="sidebar-header">
        <h3>Task App</h3>
    </div>

    <ul class="list-unstyled components">
        <li class="active" id="dashboard">
            <a href=""><i class="material-icons" style="font-size:15px">dashboard</i> <span>Dashboard</span></a>
        </li>

        <li id="allTask">
            <a href="">All Tasks</a>
        </li>

        <li id="incompleteTasks">
            <a href="">Incomplete Tasks</a>
        </li>

        <li id="completedTasks">
            <a href="">Completed Tasks</a>
        </li>

        <li id="settings">
            <a href="">Settings</a>
        </li>
    </ul>
</nav> --}}

<div>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(204, 211, 216);">
  <a class="navbar-brand" href="#">Welcome {{userName}}!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/task/dashboard"><i class="fa fa-tasks" aria-hidden="true"></i>&nbsp;All Tasks<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/task/incompleteTask"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;In Progress Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/task/completedTask"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Completed Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/task/logout"><i class="fa fa-power-off" aria-hidden="true"></i>&nbsp;Logout</a>
      </li>
    </ul>
  </div>
</nav>
</div>
